html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    background-color: rgb(148, 166, 180);
    margin: 0px;
    padding: 0px;
}

.btn-general {
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.required-msg {
    display: inline-block;
    position: absolute;
    color: darkred;
    font-size: 1em;
    margin-top: 3px;
    margin-left: 3px;
}

.ok-msg {
    display: inline-block;
    position: absolute;
    color: greenyellow;
    font-size: 1em;
    margin-top: 3px;
    margin-left: 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, .5);	
    width:      100%;	
    height:     100%; 	
    z-index:    10;	
    top:        0px; 	
    left:       0px; 	
    position:   fixed; 	
}

.popup-container {
    width: auto;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.popup-form {
    background-color: lightgray;
    padding-bottom: 40px;
    display: inline-block;
    border-radius: 8px;
}

.popup-form label {
    margin-right: 5px;
}

.popup-form h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: steelblue;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 8px 8px 0px 0px;
}

.popup-row {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.hidden-submit {
    display: none;
    width: 1px;
    height: 1px;
    border: none;
    background: none;
}