body {
    background-color: rgb(148, 166, 180);
    margin: 0px;
}

.btn-general {
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.required-msg {
    display: inline-block;
    position: absolute;
    color: darkred;
    font-size: 1em;
    margin-top: 3px;
    margin-left: 3px;
}

.ok-msg {
    display: inline-block;
    position: absolute;
    color: greenyellow;
    font-size: 1em;
    margin-top: 3px;
    margin-left: 3px;
}