.category-container {
    display: inline-block;
    background-color: lightgray;
    width: 200px;
    margin: 4px;
    vertical-align: top;
}

.category-container h2 {
    margin: 0px;
    border: 1px solid grey;
}

#add-card-btn {
    width: 100%;
    margin: 0px;
}