<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
 
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:ORCL</property>
        <property name="hibernate.connection.username">c##management_board_local</property>
        <property name="hibernate.connection.password">pass</property>     
 
		<!-- property name="javax.persistence.schema-generation.scripts.action">create</property>
		<property name="javax.persistence.schema-generation.scripts.create-target">./db/DBsetup.sql</property -->
 
		<!-- Echo the SQL to stdout -->
 		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="use_sql_comments">true</property>
 
 		<!-- Connection pool -->
 		<property name="connection.pool_size">100</property>
 
        <!-- Mapping With Model Class Containing Annotations -->
        <mapping class="com.staging.model.User"/>
        <mapping class="com.staging.model.Board"/>
        <mapping class="com.staging.model.Category"/>
        <mapping class="com.staging.model.Card"/>

    </session-factory>
</hibernate-configuration>