#account {
    text-align: center;
    margin-top: 20px;
}

input[type=submit] {
    margin: 10px;
}

.accountRow {
    margin-bottom: 6px;
}

.accountHR {
    height: 2px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;
}

label {
    display: inline-block;
    padding-right: 3px;
    width: 98px;
}

#update-info-form label {
    text-align: right;
}

#new-pass-form label {
    text-align: left;
}