#board-header {
    background-color: slategrey;
    padding-left: 10px;
    padding-right: 10px;
}

#board-header-left {
    display: inline-block;
    width: 33%;
    text-align: left;
}

#board-dropdown {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#board-header-center {
    display: inline-block;
    width: 34%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#board-header-right {
    display: inline-block;
    width: 33%;
    text-align: right;
}

#no-board {
    text-align: center;
    margin-top: 50px;
    font-size: 1.25em;
}

#board-contents {
    text-align: center;
}

