#board-main-div {
    width: 100%;
    position: absolute;
    top: 35px;
    bottom: 40px;
}

#board-header {
    background-color: steelblue;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}

#board-header-left {
    display: inline-block;
    width: 33%;
    text-align: left;
}

#board-header-center {
    display: inline-block;
    width: 34%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#board-header-right {
    display: inline-block;
    width: 33%;
    text-align: right;
}

#board-dropdown {
    padding: 5px;
    margin-top: 5px;
}

#no-board {
    text-align: center;
    margin-top: 50px;
    font-size: 1.25em;
}

#board-contents {
    text-align: center;
    white-space: nowrap;
    height: 100%;
    overflow: auto;
}

#board-title-btn {
    background: none;
    border: none;
    font-size: 1em;
}

#board-title-input {
    font-size: 1em;
}

#board-header-form {
    position: relative;
    top: 4px;
}

#add-category {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

#add-card-textarea {
    min-width: 200px;
    min-height: 100px;
}

#add-card-category-name {
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;
    
}