<div id="header">

    <a [routerLink]="['']" id="title">
        Management Board
    </a>

    <span *ngIf="!logedIn" id="loginSpan">
        <form method="POST" onsubmit="return false;">
            <label for="username">Username</label>
            <input [(ngModel)]='username' type="text" name="username" placeholder="Username" required>
            <label for="password">Password</label>
            <input [(ngModel)]='password' type="text" name="password" type="password" placeholder="Password" required>
            <input type="submit" name="loginBtn" value="Log In" (click)="login()">
            <button name="signupBtn" (click)="signup()">Sign Up</button>
        </form>
    </span>

    <span *ngIf="logedIn" id="logedInNameSpan">
        Hello {{ logedInUserName }}
        <button [routerLink]="'/board'">Boards</button>
        <button name="logoutBtn" (click)="logout()">Log Out</button>
    </span>
</div>
