#header {
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

#header-left {
    display: inline-block;
    text-align: left;
}

#header-right {
    float: right;
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
}

#title {
    width: 50%;
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
}

label {
    margin-left: 10px;
    margin-right: 2px;
}

input[type=submit] {
    margin-left: 2px;
}
